{% extends 'base.html' %}
{% block content %}

<h1>Dog Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ dog.name }}</span>
        <p>Breed: {{ dog.breed }}</p>
        <p>Description: {{ dog.description }}</p>
        {% if dog.age > 0 %}
          <p>Age: {{ dog.age }}</p>
        {% else %}
          <p>Age: Puppy</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_feeding' dog.id %}" method="post">
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <input type="submit" class="btn" value="Add Feeding">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in dog.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ dog.name }}'s Favorite Walks</h3>
    {% if dog.walks.count %}
      {% for walk in dog.walks.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ walk.location }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Walks :(</h5>
    {% endif %}
  </div>
  <!-- Available walks will come after this line -->
  <div class="col s6">
    <h3>Available walks</h3>
    {% if walks.count %}
      {% for walk in walks.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ walk.location }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_walk' dog.id walk.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{dog.name}} Already Has All walks Available</h5>
    {% endif %}
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_meal');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}